@media(max-width: 900px){
  .Container {
    justify-content: center;
  }

  .Container .Wrapper {
    margin-left: 0px;
    width: 90%;
    height: 80vh;
}
    
  .aboutContainer {
    flex-direction: column;
    height: max-content;
  }

  .aboutImage {
    width: 100%;
    margin-top: 5%;
    height: 40vh;
  }

  .aboutText {
    width: 100%;
  }

  .aboutText h1 {
    width: 100%;
  }

  .aboutText p {
    font-size: 15px;
    width: 100%;
  }

  .BuildContainer {
    height: max-content;
  }

  .BuildWrapper {
    width: 90%;
  }

  .BuildWrapper h1 {
    text-align: center;
    font-size: 24px;
  }

  .BuildWrapper span {
    width: 80%;
  }

  .BuildWrapper_article {
    flex-direction: column;
  }

  .BuildWrapper_article article {
    width: 89%;
    margin: 4% 0px;
  }

  .BuildWrapper h1 {
    margin-top: 15%;
  }

  .TalentContainer {
    flex-direction: column;
    height: max-content;
  }

  .TalentContainer_Card_Line {
    border-right: none;
}

  .TalentContainer_Card{
    width: 80%;
  }

  
 .programmeServices {
  height: max-content;
}

.serviceContainer {
  flex-direction: column;
  height: max-content;
}

.programServicesDetail {
  width: 100%;
}

.programmeServices article {
  grid-template-columns: auto;
  width: 100%;
  margin-top: 10%;
}

.programmeServices article {
  height: 100vh;
}

.programmeServices article .articleImagetext p {
  font-size: 15px;
}
    
}
