@media(max-width: 900px){
    .Container {
        justify-content: center;
    }

    .Container .Wrapper {
        margin-left: 0px;
        width: 90%;
        height: 80vh;
    }
    
    .aboutContainer {
    flex-direction: column;
  }

  .aboutImage {
    width: 100%;
  }

  .aboutText {
    width: 100%;
  }

  .aboutText h1 {
    width: 100%;
  }

  .aboutText p {
    font-size: 15px;
    width: 100%;
  }
    
}
