@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.Container {
  width: 100%;
  height: 95vh;
  background: linear-gradient(
      to right top,
      rgba(2, 10, 121, 0.863),
      rgba(16, 0, 105, 0.493)
    ),
    url("../asset/pexels-andrea-piacquadio-3813341.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

.aboutImage {
  width: 50%;
  height: 50vh;
  object-fit: cover;
  margin-top: 2%;
}

.aboutImage img {
  width: 100%;
  height: 100%;
}

.aboutContainer {
  display: flex;
  gap: 10%;
  margin-inline: 10%;
}

.aboutText {
  width: 90%;
}

.aboutText p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  width: 95%;
}

.aboutText h1 {
  color: #003466;
  font-family: "Lexend", sans-serif;
  font-weight: 700;
  line-height: 35px;
}

.Container .Wrapper {
  width: 35%;
  height: 75vh;
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logo {
  width: 30%;
}

.Container .Wrapper h3 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  line-height: 55px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.Container .Wrapper span {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 22.5px;
  color: rgb(255, 255, 255);
  text-align: center;
}

.Container .Wrapper button,
.programServicesDetail button {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 22.5px;
  color: rgb(255, 255, 255);
  margin-top: 30px;
  height: 50px;
  width: 170px;
  background-color: rgb(6, 149, 168);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transform: scale(1);
  transition: all 350ms;
}

.Container .Wrapper button:hover {
  transform: scale(1.07);
}

.Container .Wrapper p {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 22.5px;
  color: rgb(255, 255, 255);
  text-decoration: underline;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.Container .Wrapper p:hover {
  text-decoration: none;
}

.Arrow {
  font-size: 25px;
}

.programmeServices {
  background: #fcfaf2;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.serviceContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  align-items: center;
  width: 80%;
}

.programServicesDetail {
  width: 40%;
}

.programServicesDetail h2 {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: #003466;
}

.programServicesDetail p {
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  margin-bottom: 0;
}

.programServicesDetail button {
  width: 100%;
}

.programServicesDetail button:hover {
  background-color: rgb(28, 112, 123);
}

.programmeStart {
  display: flex;
  align-items: center;
}

.programmeStart p {
  font-family: "Poppins", sans-serif;
}

.programmeServices article {
  display: grid;
  grid-template-columns: auto auto;
  width: 50%;
  height: 60vh;
  margin-top: 3%;
}

.programmeServices article .articleImagetext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.programmeServices article .articleImagetext img {
  width: 20%;
  height: 8vh;
}

.programmeServices article .articleImagetext p {
  width: 70%;
  text-align: center;
  font-size: 19px;
  font-weight: 400;
  line-height: normal;
  color: rgb(0, 0, 0);
  font-family: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}
